<header class="w-full justify-center flex fixed bg-black py-4">
    <nav class="max-w-screen-xl w-full flex items-center gap-20 h-20">
        <h1 class="flex-1 text-white font-s">
            <img src="/img/logo.svg" alt="Logo" />
        </h1>
        <ul class="flex gap-10 text-white">
            <li class="px-2 py-1 hidden md:block">
                <a href="/#sobre">Quem somos</a>
            </li>
            <li class="px-2 py-1 hidden md:block">
                <a href="/#equipe">Equipe</a>
            </li>
            <li class="px-2 py-1 hidden md:block">
                <a href="/#itens">Especialidade</a>
            </li>
            <li class="px-2 py-1 hidden md:block">
                <a href="/#loc">Localização</a>
            </li>
        </ul>
        <div class="flex gap-5">
            <button onclick="window.location.href='/login'" class="px-5 py-1 bg-white rounded-xl transition-transform duration-300 transform hover:scale-105 hover:bg-gray-100 md:text-lg">Login</button>
            <button onclick="window.location.href='/cadastrar-form'" class="px-5 py-1 bg-zinc-900 text-white rounded-xl transition-transform duration-300 transform hover:scale-105 hover:bg-zinc-800 md:text-lg">Cadastro</button>
        </div>
    </nav>
</header>
