    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .card {
            border-radius: 1rem;
            width: 100%;
            max-width: 400px; /* Ajusta a largura máxima do cartão */
        }
        .input-group-text {
            cursor: pointer;
        }
    </style>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Agendamento</h2>
                        <p class="text-center mb-4">Bem-vindo à página de agendamento. Aqui você pode gerenciar seus agendamentos.</p>
                        <!-- Adicione seu conteúdo de agendamento aqui -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
