    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .card {
            border-radius: 1rem;
            width: 100%;
            max-width: 400px; /* Ajusta a largura máxima do cartão */
        }
        .input-group-text {
            cursor: pointer;
        }
    </style>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Login</h5>
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" name="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha:</label>
                            <div class="input-group">
                                <input type="password" name="senha" class="form-control" id="senha" required>
                                <span class="input-group-text" onclick="togglePasswordVisibility()">
                                    <i id="eyeIcon" class="bi bi-eye"></i>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function togglePasswordVisibility() {
            var senhaInput = document.getElementById("senha");
            var eyeIcon = document.getElementById("eyeIcon");

            if (senhaInput.type === "password") {
                senhaInput.type = "text"; // Mostra a senha
                eyeIcon.classList.remove("bi-eye");
                eyeIcon.classList.add("bi-eye-slash"); // Troca para o ícone de olho fechado
            } else {
                senhaInput.type = "password"; // Oculta a senha
                eyeIcon.classList.remove("bi-eye-slash");
                eyeIcon.classList.add("bi-eye"); // Volta para o ícone de olho aberto
            }
        }
    </script>
