<!DOCTYPE html>
<html lang = "pt-BR">
<head>
  <meta charset = "UTF-8" />
  <meta name    = "viewport" content = "width=device-width, initial-scale=1.0" />
  
  <!-- Estilos e Scripts -->
  <link   rel = "stylesheet" href = "/assets/style.css" />
  <script src = "./assets/script.js"></script>
  <script src = "https://vlibras.gov.br/vlibras.min.js"></script>
  <script src = "https://cdn.tailwindcss.com"></script>
  
  <!-- Fonts -->
  <link rel  = "preconnect" href                                                                                                                                                                                                    = "https://fonts.googleapis.com">
  <link rel  = "preconnect" href                                                                                                                                                                                                    = "https://fonts.gstatic.com" crossorigin>
  <link href = "https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel = "stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Patty Nails</title>
  
  <!-- CSS Inline -->
 
  <style>
    /* Fontes para Títulos */
     h1, h2 , h3{
     font-family: "Poppins", sans-serif;

    }

    /* Comportamento de rolagem */
    html, body {
      scroll-behavior: smooth;
    }

    /* Gradiente Personalizado */
    .custom-gradient {
      background: radial-gradient(circle, hsla(26, 100%, 92%, 1) 0%, hsla(0, 88%, 77%, 1) 71%);
    }

    /* Imagem de Fundo */
    .image {
      background-image: url(./img/blur.svg);
    }
    .image2 {
      background-image: url(./img/backgroundimg2.svg);
    }


  </style>
</head>

<body class="flex flex-col items-center">
<header class="w-full flex justify-center relative z-10" style="position: relative;">
  <nav class="bg-transparent w-full px-4 sm:px-8 py-1 flex items-center justify-between text-black shadow-sm absolute">
    <!-- Logo -->
    <a href="/" aria-label="Início">
      <img src="img/logo.svg" alt="Logo Patty Nails" class="h-24">
    </a>

    <!-- Links de Navegação (Desktop) -->
    <div class="hidden md:flex space-x-6 text-[15px]">
      <a href="#home" class="hover:underline">Home</a>
      <a href="#mais-pedidos" class="hover:underline">Serviços</a>
      <a href="#sobre" class="hover:underline">Sobre</a>
      <a href="#depoimentos" class="hover:underline">Depoimentos</a>
      <a href="#bestsellers" class="hover:underline">Bestsellers</a>
    </div>

    <!-- Botões de Ação -->
    <div class="hidden md:flex gap-4">
      <button onclick="window.location.href='/login'" class="relative overflow-hidden text-sm px-6 py-2 border border-gray-400 text-pink-500 bg-white rounded-full transition duration-500 shadow-sm hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-pink-200 group">
        <span class="absolute inset-0 bg-gradient-to-r from-pink-400 to-pink-200 transform scale-0 group-hover:scale-150 transition-transform duration-500 rounded-full"></span>
        <span class="relative">Agende Aqui</span>
      </button>
      <button onclick="window.location.href='/profile'" class="relative overflow-hidden text-sm px-6 py-2 border border-gray-400 text-pink-500 bg-white rounded-full transition duration-500 shadow-sm hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-pink-200 group">
        <span class="absolute inset-0 bg-gradient-to-r from-pink-400 to-pink-200 transform scale-0 group-hover:scale-150 transition-transform duration-500 rounded-full"></span>
        <span class="relative">Meu Perfil</span>
      </button>
    </div>

    <!-- Botão Mobile -->
    <button id="mobile-menu-toggle" class="md:hidden text-black focus:outline-none">
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </nav>

<!-- Menu Mobile -->
<div id="mobile-menu" style="position: absolute; top: 100%; left: 0; width: 100%; transform: translateY(-100%); transition: transform 0.8s ease-in-out; background-color: white; z-index: 9; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
  <div style="display: flex; flex-direction: column; align-items: center; gap: 16px; padding: 16px;">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 40px; padding-bottom: 16px; width: 100%;">
      <button onclick="handleNavigation('/login')" class="relative overflow-hidden text-sm px-6 py-2 border border-gray-400 text-pink-500 bg-white rounded-full transition duration-500 shadow-sm hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-pink-200 group">
        <span class="absolute inset-0 bg-gradient-to-r from-pink-400 to-pink-200 transform scale-0 group-hover:scale-150 transition-transform duration-500 rounded-full"></span>
        <span class="relative">Agende Aqui</span>
      </button>
      <button onclick="handleNavigation('/profile')" class="relative overflow-hidden text-sm px-6 py-2 border border-gray-400 text-pink-500 bg-white rounded-full transition duration-500 shadow-sm hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-pink-200 group">
        <span class="absolute inset-0 bg-gradient-to-r from-pink-400 to-pink-200 transform scale-0 group-hover:scale-150 transition-transform duration-500 rounded-full"></span>
        <span class="relative">Meu Perfil</span>
      </button>
    </div>
      <!-- Links -->
      <div style="display: flex; flex-direction: column; align-items: flex-start; width: 100%;">
        <a href="#home" class="block text-sm hover:underline">Home</a>
        <a href="#mais-pedidos" class="block text-sm hover:underline pt-6">Serviços</a>
        <a href="#sobre" class="block text-sm hover:underline pt-6">Sobre</a>
        <a href="#depoimentos" class="block text-sm hover:underline pt-6">Depoimentos</a>
        <a href="#bestsellers" class="block text-sm hover:underline pt-6">Bestsellers</a>
      </div>
    </div>
  </div>
</header>


  <!-- Plugin VLibras -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

  <main class="w-full flex flex-col items-center">
    
    <!-- Primeira seção -->
    <section id="home" class="image bg-cover bg-no-repeat w-full min-h-screen bg-center flex relative pb-32 md:pb-52">
      <div class="flex flex-col gap-12 md:gap-8 w-11/12 md:w-1/2 pt-32 md:pt-44 ml-4 md:ml-32">
        <h1 class="text-white text-6xl w-90  md:text-6xl font-custom">Patty Nails - Cuidado para Suas Unhas</h1>
        <p class="text-[#333333]  w-1/2 text-lg md:text-xl font-custom">
          Um salão onde cada detalhe importa. Patty Nails combina sofisticação e técnica para oferecer serviços que valorizam a beleza de suas unhas.
        </p>
       <button onclick="handleNavigation('/login')" 
          class="w-36 relative overflow-hidden text-sm px-6 py-2 border-1 border-[#333333] text-[#FFC0CB] bg-transparent rounded-full transition-all duration-500 ease-in-out shadow-sm hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[#F1A7C0] group">
          <span class="absolute inset-0 bg-gradient-to-r from-[#FFC0CB] to-[#F1A7C0] transition-transform duration-500 ease-in-out transform scale-0 group-hover:scale-150 rounded-full"></span>
          <span class="relative text-[#000000] transition-colors duration-150 ease-in-out">Agende Aqui</span>
      </button>

       <div class="flex gap-8 mt-4 md:mt-8 flex-wrap justify-center">
  <!-- Itens estatísticos -->
  <div class="flex flex-col items-center justify-center w-48 h-48 bg-white/50 border-2 border-white bg-cover rounded-3xl shadow-md text-center space-y-2 hover:scale-110 transition-transform duration-500">
    <div class="bg-[#FFC0CB] rounded-full w-10 h-10 flex items-center justify-center mt-4">
      <img src="./img/heart.svg" alt="Ícone de coração" class="w-5 h-5">
    </div>
    <h2 class="text-[18px] font-semibold text-black">2k</h2>
    <p class="text-gray-500 w-1/2 text-[13px]">Seguidores no Instagram que acompanham</p>
  </div>

  <div class="flex flex-col items-center justify-center w-48 h-48 bg-white/50 bg-cover rounded-3xl shadow-md text-center border-2 border-white space-y-2 hover:scale-110 transition-transform duration-500">
    <div class="bg-[#FFC0CB] rounded-full w-10 h-10 flex items-center justify-center mt-4">
      <img src="./img/heart.svg" alt="Ícone de coração" class="w-5 h-5">
    </div>
    <h2 class="text-[18px] font-semibold text-black">50</h2>
    <p class="text-gray-500 w-1/2 text-[13px]">Atendimentos que fazemos em um dia</p>
  </div>

  <div class="flex flex-col items-center justify-center w-48 h-48 bg-white/50 bg-cover rounded-3xl shadow-md text-center border-2 border-white space-y-2 hover:scale-110 transition-transform duration-500">
    <div class="bg-[#FFC0CB] rounded-full w-10 h-10 flex items-center justify-center mt-4">
      <img src="./img/heart.svg" alt="Ícone de coração" class="w-5 h-5">
    </div>
    <h2 class="text-[18px] font-semibold text-black">400</h2>
    <p class="text-gray-500 w-1/2 text-[13px]">Maiores avaliações positivas</p>
  </div>
</div>


      <div class="absolute inset-y-0 right-0 items-center xl:block hidden">
      <img class="max-w-none h-full" src="./img/heroImg.svg" alt="Imagem de unha">
    </div>
    </section>

 <section id="mais-pedidos" class="py-12 bg-white w-full justify-center">
  <div class="container mx-auto text-center flex flex-col items-center justify-center px-4 md:px-8">
    <p class="text-gray-600 mb-4 text-base md:text-lg">Serviços</p>
    <h2 class="text-3xl font-bold mb-4">Os Mais Pedidos</h2>
    <p class="text-gray-600 mb-8 text-sm md:text-base w-full md:w-2/3 lg:w-1/2">
      Salão especializado em cuidados com unhas. Venha para uma experiência completa de beleza e relaxamento. Oferecemos serviços de manicure, pedicure, alongamento de unhas e tratamento de spa para mãos e pés.
    </p>
  </div>

  <!-- Grid de serviços -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 px-6 md:px-20">
    <!-- Card de Serviço 1 -->
    <div class="border border-black rounded-3xl p-6 flex flex-col hover:bg-[#FFC0CB] transition-colors">
      <div class="bg-[#FFC0CB] rounded-full w-10 h-10 flex items-center justify-center mt-4">
        <img src="./img/top1.svg" alt="Ícone de Manicure e Pedicure" class="w-5 h-5">
      </div>
      <div class="text-left">
        <h3 class="text-xl font-semibold mb-2">Manicure e Pedicure</h3>
        <p class="text-gray-600 mb-4">Cuidados básicos para a saúde e estética das unhas das mãos e pés. Inclui corte, lixamento, remoção de cutículas e aplicação de esmalte.</p>
          <a href="https://www.instagram.com/patty_esmalteria/"target = "_blank" class="text-[#333333] font-medium">Ver mais →</a>
      </div>
    </div>

    <!-- Card de Serviço 2 -->
    <div class="border border-black rounded-3xl p-6 flex flex-col hover:bg-[#FFC0CB] transition-colors">
      <div class="bg-[#FFC0CB] rounded-full w-10 h-10 flex items-center justify-center mt-4">
        <img src="./img/top2.svg" alt="Ícone de Alongamento de Unhas" class="w-5 h-5">
      </div>
      <div class="text-left">
        <h3 class="text-xl font-semibold mb-2">Alongamento de Unhas</h3>
        <p class="text-gray-600 mb-4">Técnica para alongar e modelar unhas utilizando materiais como gel, fibra ou acrílico.</p>
          <a href="https://www.instagram.com/patty_esmalteria/"target = "_blank"class="text-[#333333] font-medium">Ver mais →</a>
      </div>
    </div>

    <!-- Card de Serviço 3 -->
    <div class="border border-black rounded-3xl p-6 flex flex-col hover:bg-[#FFC0CB] transition-colors">
      <div class="bg-[#FFC0CB] rounded-full w-10 h-10 flex items-center justify-center mt-4">
        <img src="./img/top3.svg" alt="Ícone de Tratamento de Spa" class="w-5 h-5">
      </div>
      <div class="text-left">
        <h3 class="text-xl font-semibold mb-2">Tratamento de Spa</h3>
        <p class="text-gray-600 mb-4">Experiência relaxante e revitalizante para mãos e pés, incluindo esfoliação, hidratação profunda, massagem e cuidados especiais para a pele.</p>
          <a href="https://www.instagram.com/patty_esmalteria/"target = "_blank" class="text-[#333333] font-medium">Ver mais →</a>
      </div>
    </div>

    <!-- Card de Serviço 4 -->
    <div class="border border-black rounded-3xl p-6 flex flex-col hover:bg-[#FFC0CB] transition-colors">
      <div class="bg-[#FFC0CB] rounded-full w-10 h-10 flex items-center justify-center mt-4">
        <img src="./img/top4.svg" alt="Ícone de Unha Decorada" class="w-5 h-5">
      </div>
      <div class="text-left">
        <h3 class="text-xl font-semibold mb-2">Unha Decorada</h3>
        <p class="text-gray-600 mb-4">Aplicação de designs artísticos nas unhas, utilizando esmaltes, adesivos, pedrarias ou técnicas de pintura.</p>
          <a href="https://www.instagram.com/patty_esmalteria/"target = "_blank"class="text-[#333333] font-medium">Ver mais →</a>
      </div>
    </div>
  </div>

  <!-- Botão final -->
  <div class="mt-12 text-center">
    <button onclick="window.location.href='/profile'" 
            class="relative overflow-hidden text-sm px-8 py-3 border border-[#333333] text-[#FFC0CB] bg-transparent rounded-full transition-all duration-500 shadow-sm hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[#F1A7C0] group">
      <span class="absolute inset-0 bg-gradient-to-r from-[#FFC0CB] to-[#F1A7C0] transition-transform duration-500 ease-in-out transform scale-0 group-hover:scale-150 rounded-full"></span>
      <span class="relative text-[#000000] transition-colors duration-150 ease-in-out">Saiba Mais</span>
    </button>
  </div>
</section>


   <section id="sobre" class="image2 bg-no-repeat bg-cover w-full flex items-center py-12">
  <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- Texto Sobre Nós -->
    <div class="flex flex-col justify-center items-center md:items-start text-center md:text-left gap-6">
      <h2 class="text-4xl md:text-6xl font-semibold mb-4 text-black">Sobre Nós</h2>
      <p class="text-left md:text-lg text-gray-500 mb-6 w-full md:w-10/12">
        A Patty Esmalteria é uma esmalteria localizada no Shopping Metrô Boulevard Tatuapé, em São Paulo. Iniciando suas atividades em 2012, a loja se especializou em serviços de alongamento de unhas, utilizando técnicas como Gel, Polygel e Fibra de Vidro. Além disso, oferece uma ampla gama de tratamentos de beleza, incluindo esmaltação em gel, design de sobrancelhas, nail art e manicure e pedicure tradicionais. Um dos grandes diferenciais da Patty Esmalteria é a durabilidade de seus serviços: os alongamentos podem durar até três meses, enquanto a esmaltação em gel tem uma durabilidade de 10 a 15 dias sem descascar, borrões ou necessidade de secagem adicional.
      </p>
      <button onclick="window.location.href='/login'" 
              class="w-32 relative overflow-hidden text-sm px-6 py-2 border border-[#333333] text-[#FFC0CB] bg-transparent rounded-full transition-all duration-500 ease-in-out shadow-sm hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[#F1A7C0] group">
        <span class="absolute inset-0 bg-gradient-to-r from-[#FFC0CB] to-[#F1A7C0] transition-transform duration-500 ease-in-out transform scale-0 group-hover:scale-150 rounded-full"></span>
        <span class="relative text-[#000000] transition-colors duration-150 ease-in-out">Veja Mais</span>
      </button>
    </div>
    
    <!-- Imagem Sobre Nós -->
    <div class="flex justify-center">
      <img src="./img/imgAboutUs.svg" alt="Imagem de Sobre nós" class="w-full h-auto max-w-sm md:max-w-full">
    </div>
  </div>
</section>

    
    


  <section id    = "depoimentos" class = "w-full py-16 bg-white flex items-center justify-center">
  <div     class = "relative w-full m-20 text-center">
      <!-- Container de Depoimentos -->
      <div id = "testimonials" class = "text-gray-800 px-8">
        <!-- Estrelas -->
        <div class = "text-lg text-gray-800 mb-4">★★★★★</div>
        <!-- Depoimento -->
       <p class = "text-pink-500 text-[25px] font-light italic mb-4 mx-auto w-[50%]">
  "Adorei a minha experiência no Patty Esmalteria! As unhas ficaram impecáveis, e a equipe foi super atenciosa e profissional. Com certeza voltarei sempre!"
</p>

        <!-- Autor -->
        <div class = "text-sm text-gray-800 mt-4">- MC Win, <span class = "font-bold">Webflow</span></div>
      </div>

      <!-- Controles -->
      <div    class   = "absolute inset-y-0 gap flex items-center justify-between w-full px-4">
      <button onclick = "prevTestimonial()" class = "text-2xl text-gray-800 hover:text-gray-600">&#10094;</button>
      <button onclick = "nextTestimonial()" class = "text-2xl text-gray-800 hover:text-gray-600">&#10095;</button>
      </div>

      <!-- Dots de Navegação -->
      <div  class = "flex justify-center mt-6 space-x-2">
      <span class = "dot w-3 h-3 bg-gray-800 rounded-full cursor-pointer" onclick = "currentTestimonial(0)"></span>
      <span class = "dot w-3 h-3 bg-gray-400 rounded-full cursor-pointer" onclick = "currentTestimonial(1)"></span>
      <span class = "dot w-3 h-3 bg-gray-400 rounded-full cursor-pointer" onclick = "currentTestimonial(2)"></span>
      <span class = "dot w-3 h-3 bg-gray-400 rounded-full cursor-pointer" onclick = "currentTestimonial(3)"></span>
      <span class = "dot w-3 h-3 bg-gray-400 rounded-full cursor-pointer" onclick = "currentTestimonial(4)"></span>
      <span class = "dot w-3 h-3 bg-gray-400 rounded-full cursor-pointer" onclick = "currentTestimonial(5)"></span>
      </div>
    </div>
  </section>

<section id="bestsellers" class="flex justify-center items-center mb-40 px-4">
  <div class="flex flex-col items-center gap-4">
    <!-- Contêiner de imagens -->
    <div class="flex flex-wrap sm:flex-nowrap justify-center gap-4 w-full">
      <!-- Imagem principal expandida -->
      <figure id="first-image" class="relative transition-all duration-400 ease-in-out transform w-full sm:w-[300px] h-[300px] sm:h-[500px] hover:w-80 cursor-pointer flex-shrink-0 hover:shadow-lg rounded-lg">
        <img 
          src="./img/best1.jpg"
          alt="Principal Image"
          class="object-cover rounded-lg shadow-md w-full h-full"
        >
      </figure>
      <!-- Imagens menores com hover para expandir -->
      <figure class="relative transition-all duration-400 ease-in-out transform w-24 h-[300px] sm:h-[500px] hover:w-80 cursor-pointer flex-shrink-0 hover:shadow-lg rounded-lg" onMouseEnter="shrinkFirstImage()" onMouseLeave="expandFirstImage()">
        <img 
          src="./img/best2.jpg"
          alt="Skyline Oasis preview"
          class="object-cover rounded-lg shadow-md w-full h-full"
        >
      </figure>
      <figure class="relative transition-all duration-400 ease-in-out transform w-24 h-[300px] sm:h-[500px] hover:w-80 cursor-pointer flex-shrink-0 hover:shadow-lg rounded-lg" onMouseEnter="shrinkFirstImage()" onMouseLeave="expandFirstImage()">
        <img 
          src="./img/best9.jpg"
          alt="Skyline Oasis preview"
          class="object-cover rounded-lg shadow-md w-full h-full"
        >
      </figure>
      <!-- Outras imagens -->
      <figure class="relative transition-all duration-400 ease-in-out transform w-24 h-[300px] sm:h-[500px] hover:w-80 cursor-pointer flex-shrink-0 hover:shadow-lg rounded-lg" onMouseEnter="shrinkFirstImage()" onMouseLeave="expandFirstImage()">
        <img 
          src="./img/best4.jpg"
          alt="Vista Paradiso preview"
          class="object-cover rounded-lg shadow-md w-full h-full"
        >
      </figure>
      <figure class="relative transition-all duration-400 ease-in-out transform w-24 h-[300px] sm:h-[500px] hover:w-80 cursor-pointer flex-shrink-0 hover:shadow-lg rounded-lg" onMouseEnter="shrinkFirstImage()" onMouseLeave="expandFirstImage()">
        <img 
          src="./img/best5.jpg"
          alt="Villa Verde preview"
          class="object-cover rounded-lg shadow-md w-full h-full"
        >
      </figure>
      <figure class="relative transition-all duration-400 ease-in-out transform w-24 h-[300px] sm:h-[500px] hover:w-80 cursor-pointer flex-shrink-0 hover:shadow-lg rounded-lg" onMouseEnter="shrinkFirstImage()" onMouseLeave="expandFirstImage()">
        <img 
          src="./img/best6.jpg"
          alt="Villa Verde preview"
          class="object-cover rounded-lg shadow-md w-full h-full"
        >
      </figure>
      <figure class="relative transition-all duration-400 ease-in-out transform w-24 h-[300px] sm:h-[500px] hover:w-80 cursor-pointer flex-shrink-0 hover:shadow-lg rounded-lg" onMouseEnter="shrinkFirstImage()" onMouseLeave="expandFirstImage()">
        <img 
          src="./img/best7.jpg"
          alt="Villa Verde preview"
          class="object-cover rounded-lg shadow-md w-full h-full"
        >
      </figure>
      
    </div>
    <!-- Título abaixo das imagens -->
    <h2 class="text-[20px] sm:text-[30px] font-semibold mt-4 tracking-widest text-gray-700">
      B E S T <span class="italic">S E L L E R S</span>
    </h2>
  </div>
</section>





<script>
        // Função para encolher a primeira imagem
    function shrinkFirstImage() {
        const firstImage = document.getElementById('first-image');
        firstImage.classList.remove('w-80');   // Remove a largura expandida
        firstImage.classList.add    ('w-20');  // Define a largura encolhida
    }

        // Função para expandir a primeira imagem novamente
    function expandFirstImage() {
        const firstImage = document.getElementById('first-image');
        if (!firstImage.classList.contains('hover:w-80')) {
            firstImage.classList.remove('w-20');   // Remove a largura encolhida
            firstImage.classList.add    ('w-80');  // Define a largura expandida
        }
    }

        // Quando a página carrega, expande a primeira imagem
    document.addEventListener('DOMContentLoaded', function () {
        const firstImage = document.getElementById('first-image');
        firstImage.classList.add('w-80');  // Adiciona a classe para a largura expandida
    });
</script>

<script>const links = document.querySelectorAll('nav a');

  links.forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();  // Previne o comportamento padrão do link
  
      const targetId      = this.getAttribute('href');         // Pega o valor do atributo href
      const targetElement = document.querySelector(targetId);  // Seleciona o elemento de destino
  
        // Faz a rolagem suave até o elemento
      targetElement.scrollIntoView({
        behavior: 'smooth'  // Comportamento de rolagem suave
      });
    });
  });</script>

<script>
  
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });


  const testimonials = [
  {
    text   : "Adorei a minha experiência no Patty Esmalteria! As unhas ficaram impecáveis, e a equipe foi super atenciosa e profissional. Com certeza voltarei sempre!",
    author : "Mariana Oliveira",
    company: "Cliente satisfeita",
  },
  {
    text   : "Excelente atendimento! A equipe do Patty Esmalteria é muito acolhedora e as unhas em gel ficaram perfeitas. Recomendo muito!",
    author : "Carla Souza",
    company: "Cliente feliz",
  },
  {
    text   : "Fui ao Patty Esmalteria no Shopping Tatuapé e fiquei impressionada com o cuidado e a qualidade do serviço. A experiência foi maravilhosa, super indico!",
    author : "Joana Silva",
    company: "Frequente do shopping",
  },
  {
    text   : "Já fiz alongamento de unhas e design de sobrancelhas no Patty Esmalteria e o resultado foi incrível. As profissionais são super qualificadas e o atendimento é top!",
    author : "Ana Costa",
    company: "Cliente de primeira viagem",
  },
  {
    text   : "O Patty Esmalteria tem um ambiente super acolhedor e as unhas duram por semanas! Fiquei encantada com a qualidade do esmalte em gel. Com certeza virei uma cliente fiel.",
    author : "Fernanda Lima",
    company: "Fã da esmalteria",
  },
  {
    text   : "Sempre que preciso de um cuidado especial para minhas unhas, vou ao Patty Esmalteria. O atendimento é sempre impecável e a equipe muito profissional.",
    author : "Luiza Martins",
    company: "Cliente fiel",
  },
];

    let currentIndex = 0;

    function showTestimonial(index) {
      const testimonialContainer           = document.getElementById("testimonials");
            testimonialContainer.innerHTML = `
        <div class = "text-lg text-gray-800 mb-4">★★★★★</div>
        <p   class = "text-pink-500 text-[25px] font-light italic mb-4 mx-auto w-[50%]">
          "${testimonials[index].text}"
        </p>
        <div class = "text-4x1 text-gray-800 mt-4">- ${testimonials[index].author}, <span class = "font-bold">${testimonials[index].company}</span></div>
      `;

          // Atualiza as bolinhas de navegação
      document.querySelectorAll(".dot").forEach((dot, idx) => {
        dot.classList.toggle("bg-gray-800", idx === index);
        dot.classList.toggle("bg-gray-400", idx !== index);
      });
    }

    function nextTestimonial() {
      currentIndex = (currentIndex + 1) % testimonials.length;
      showTestimonial(currentIndex);
    }

    function prevTestimonial() {
      currentIndex = (currentIndex - 1 + testimonials.length) % testimonials.length;
      showTestimonial(currentIndex);
    }

    function currentTestimonial(index) {
      currentIndex = index;
      showTestimonial(currentIndex);
    }

        // Exibe o primeiro depoimento ao carregar a página
    showTestimonial(currentIndex);

        // Configura a rolagem automática a cada 5 segundos
    setInterval(nextTestimonial, 5000);
  </script>




</main>

<footer class="bg-pink-50 text-center py-10 w-full">
  <!-- Navigation Links -->
  <div class="flex flex-wrap justify-center space-x-4 sm:space-x-8 text-gray-700 mb-6">
    <a href="#home" class="hover:underline text-sm sm:text-base">Home</a>
    <a href="#mais-pedidos" class="hover:underline text-sm sm:text-base">Serviços</a>
    <a href="#sobre" class="hover:underline text-sm sm:text-base">Sobre</a>
    <a href="#depoimentos" class="hover:underline text-sm sm:text-base">Depoimentos</a>
    <a href="#bestsellers" class="hover:underline text-sm sm:text-base">Bestsellers</a>
  </div>
  
  <!-- Social Media Icons -->
  <div class="flex justify-center space-x-4 sm:space-x-6 text-gray-700 mb-8">
    <a href="https://wa.me/5511947161392?text=Ol%C3%A1!%20Vim%20pelo%20Site%20e%20gostaria%20de%20agendar%20um%20hor%C3%A1rio!"target = "_blank" class="hover:text-gray-900"><img src="img/WhatsApp.png" alt="Twitter" class="w-5 h-5"></a>
    <a href="https://www.facebook.com/pattyesmalteria"target = "_blank" class="hover:text-gray-900"><img src="img/facebook-black.svg" alt="Facebook" class="w-5 h-5"></a>
    <a href="https://www.instagram.com/patty_esmalteria/"target = "_blank" class="hover:text-gray-900"><img src="img/Instagram.png" alt="Instagram" class="w-5 h-5"></a>
  </div>

  <!-- Logo and Legal Links -->
  <div class="flex flex-col items-center space-y-4 text-gray-500">
    <p class="text-xs sm:text-sm">© 2024 PattyNails. Todos os direitos reservados.</p>
    <div class="flex flex-wrap justify-center space-x-4 sm:space-x-6 text-xs sm:text-sm">
      <a href="/politics-&-privacy" class="hover:underline">Termos de Uso</a>
      <a href="/politics-&-privacy" class="hover:underline">Política de Privacidade</a>
    </div>
  </div>
</footer>


<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });

      const urlParams  = new URLSearchParams(window.location.search);
      const errorMsg   = urlParams.get('error');
      const successMsg = urlParams.get('success');
  if (errorMsg) {
            Swal.fire({
                icon             : 'error',
                title            : 'Erro!',
                text             : errorMsg,
                confirmButtonText: 'OK'
            });
        }
 if (successMsg) {
        Swal.fire({
            icon             : 'success',
            title            : 'Sucesso!',
            text             : successMsg,
            confirmButtonText: 'OK'
        });
        }
});
</script>


</body>
</html>