    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .card {
            border-radius: 1rem;
            width: 100%;
            max-width: 600px; /* Aumenta a largura máxima do cartão */
        }
        .input-group-text {
            cursor: pointer;
        }
    </style>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row text-center">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="card-title mb-4">Bem-vindo ao Sistema de Agendamento</h1>
                        <p class="lead mb-4">Para agendar o seu próximo horário, você pode se cadastrar ou entrar com sua conta existente.</p>
                        <a href="/cadastrar-form" class="btn btn-primary btn-lg">Ir para Cadastro</a>
                        <a href="/login" class="btn btn-primary btn-lg">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
