<!DOCTYPE html>
<html lang = "pt-BR">
<head>
  <meta charset = "UTF-8">
  <meta name    = "viewport" content = "width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
  <link   rel  = "stylesheet" href                                                                     = "/assets/style.css">
  <script src  = "https://cdn.tailwindcss.com"></script>
  <link   href = "https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel = "stylesheet">
  <script src  = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src  = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src  = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>

      header {
      z-index: 10;
    }
      .custom-gradient2 {
      background-image: url(./img/blur.svg);
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    }
        /* Estilo para o campo de senha inválido */
    .is-invalid {
        border-color: red;
    }
        /* Estilo para o ícone de exibição de senha */
    .eye-icon {
        font-size: 1.2rem;
        color: #6b7280; /* Cor neutra */
    }
</style>

<body>
<header class = "w-full flex justify-center relative z-10">
  <nav    class = "bg-transparent shadow- w-full px-20 py-1 flex justify-between absolute items-center text-black shadow-sm">
  <div    class = "flex space-x-6">
 
        <a href="/#home" class="hover:underline text-lg">Home</a>
        <a href="/#mais-pedidos" class="hover:underline text-lg">Mais pedidos</a>
        <a href="/#sobre" class="hover:underline text-lg">Sobre</a>
        <a href="/#depoimentos" class="hover:underline text-base">Depoimentos</a>
        <a href="/#bestsellers" class="hover:underline text-base">Bestsellers</a>

        </div  class="logo-container">
          <div class="flex justify-center items-center flex-grow">
          <a href = "/"><img src = "img/logo.svg" alt = "unha" class = "h-24" /></a>
        </div>
        
     <div class="flex gap-4">
        <button onclick="window.location.href='/login'" class="px-4 py-2 text-sm border border-black rounded-3xl text-black hover:border-pink-500 hover:bg-white transition duration-100">
          Agende Aqui
        </button>
        <button onclick="window.location.href='/profile'" class="px-4 py-2 text-sm border border-black rounded-3xl text-black hover:border-pink-500 hover:bg-white transition duration-100">
          Meu perfil
        </button>
      </nav>
    </header>
  <!-- vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

<div class="min-h-screen flex items-center justify-center w-full custom-gradient2">
    <div class="bg-white/50 bg-cover shadow-md text-left border-white rounded-r-3xl backdrop-blur-md rounded-3xl shadow-md  space-y-2 flex rounded-2xl shadow-lg max-w-4xl w-full mt-28 h-[600px] relative">
        <!-- Coluna da Imagem -->
        <div class="md:w-1/2 hidden md:block">
            <img class="rounded-l-2xl w-full h-full object-cover" 
                 src="./img/resetlogin.jpg" 
                 alt="Imagem de Recuperação de Senha">
        </div>

       
        <!-- Coluna do Formulário -->
<div class="p-8 w-full md:w-1/2 flex justify-center items-center">
    <div class="w-full">
        <h2 class="font-bold text-2xl text-black text-center md:text-left">Redefina sua Senha</h2>
        <p class="text-xs mt-4 text-zinc-500 text-center md:text-left">Digite sua nova senha.</p>
        <form id="reset-password-form" class="flex flex-col gap-4 mt-4">
            <div class="relative">
                <input class="p-2 rounded-xl border w-full" 
                       type="password" 
                       id="newPassword" 
                       name="newPassword" 
                       placeholder="Digite sua nova senha" 
                       required>
                <span class="absolute right-3 top-2 cursor-pointer" onclick="togglePasswordVisibility('newPassword', 'eyeIcon')">
                    <i id="eyeIcon" class="bi bi-eye eye-icon"></i>
                </span>
            </div>
            <input type="hidden" id="token" name="token" value="{{token}}">
            <button type="submit" class="w-full px-6 py-2 bg-gradient-to-r from-pink-500 to-pink-700 text-white rounded-md transition-all duration-300 hover:from-pink-700 hover:to-pink-500">Redefinir Senha</button>
        </form>
        <div class="btn btn-link mt-5 text-xs text-zinc-500 text-center md:text-left">
            <a href="/login">Voltar ao Login</a>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<footer class="bg-pink-50 text-center py-10 w-full">
  <!-- Navigation Links -->
  <div class="flex justify-center space-x-8 text-gray-700 mb-6">
 <a      href  = "/#home" class         = "hover:underline text-lg">Home</a>
<a      href  = "/#mais-pedidos" class = "hover:underline text-lg">Mais pedidos</a>
<a      href  = "/#sobre" class        = "hover:underline text-lg">Sobre</a>
<a      href  = "/#depoimentos" class  = "hover:underline text-base">Depoimentos</a>
<a      href  = "/#bestsellers" class  = "hover:underline text-base">Bestsellers</a>
  </div>
  
  <!-- Social Media Icons -->
  <div class="flex justify-center space-x-6 text-gray-700 mb-10">
    <a href="#" class="hover:text-gray-900"><img src="img/facebook-black.svg" alt="Facebook" class="w-5 h-5"></a>
    <a href="#" class="hover:text-gray-900"><img src="img/Twitter.png" alt="Twitter" class="w-5 h-5"></a>
    <a href="#" class="hover:text-gray-900"><img src="img/Instagram.png" alt="Instagram" class="w-5 h-5"></a>
    <a href="#" class="hover:text-gray-900"><img src="img/Youtube.png" alt="YouTube" class="w-5 h-5"></a>
  </div>

  <!-- Logo and Legal Links -->
  <div class="flex flex-col items-center space-y-4">
    
    <div class="flex items-center space-x-4 text-sm text-gray-500">
      <p>© 2024 PattyNails. Todos os direitos reservados.</p>
     
 
    </div>
         <div class="flex justify-center space-x-6 text-gray-500 mb-10">
        <a href="#" class="hover:underline">Termos de Uso</a>
        <a href="#" class="hover:underline">Política de Privacidade</a>
      </div>
  </div>
</footer>
<script>
    // Função para validar a senha
    function validarSenha(senha) {
        return senha.length >= 6;
    }

    const senhaInput = document.getElementById('newPassword');

    // Validação em tempo real da senha
    senhaInput.addEventListener('input', function() {
        if (this.value && !validarSenha(this.value)) {
            this.classList.add('is-invalid');
        } else {
            this.classList.remove('is-invalid');
        }
    });

    // Manipulador de envio de formulário de redefinição de senha
    $('#reset-password-form').on('submit', function(e) {
        e.preventDefault();
        
        const newPassword = $('#newPassword').val();
        const token = $('#token').val();

        // Validação final da senha
        if (!validarSenha(newPassword)) {
            Swal.fire({
                icon: 'error',
                title: 'Erro!',
                text: 'A senha deve conter no mínimo 6 caracteres.',
                confirmButtonText: 'OK'
            });
            return; // Interrompe o envio do formulário se a condição não for atendida
        }

        // Envio da senha ao servidor
        $.post('/reset-password', { newPassword, token }, function(response) {
            Swal.fire({
                icon: 'success',
                title: 'Sucesso!',
                text: 'Senha redefinida com sucesso!'
            }).then(() => {
                window.location.href = '/login';
            });
        }).fail(function(xhr) {
            Swal.fire({
                icon: 'error',
                title: 'Erro!',
                text: xhr.responseJSON.error || 'Erro ao redefinir a senha'
            });
        });
    });
      // Função para alternar visibilidade da senha
   function togglePasswordVisibility(inputId, iconId) {
        const passwordInput = document.getElementById(inputId);
        const eyeIcon = document.getElementById(iconId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("bi-eye");
            eyeIcon.classList.add("bi-eye-slash");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("bi-eye-slash");
            eyeIcon.classList.add("bi-eye");
        }
    }

    // Alternar entre painéis de login e signup
    document.getElementById("btn-signup").addEventListener("click", () => {
        document.getElementById("panel-login").classList.add("hidden");
        document.getElementById("panel-signup").classList.remove("hidden");
    });

    document.getElementById("btn-login").addEventListener("click", () => {
        document.getElementById("panel-signup").classList.add("hidden");
        document.getElementById("panel-login").classList.remove("hidden");
    });
</script>



</body>
</html>